{% extends "base.html" %}

{% block body %}
  <form method="post" action="{% url 'list' %}" autocomplete="off">{% csrf_token %}
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 my-1">
          <label>{{ form.name.label }}</label> {{ form.name }}
        </div>
        <div class="col-md-6 my-1">
          <label>{{ form.address.label }}</label> {{ form.address }}
        </div>
        <div class="col-12 my-1">
          <div class="col-3 pl-0">
            <label>{{ form.stars.label }}</label> {{ form.stars }}
          </div>
        </div>
        <div class="col-md-6 my-1 mt-2">
          <label class="mr-4">{{ form.meal.label }}</label>
          {% for s in form.meal %}
            <div class="custom-control custom-radio">
              {{ s.tag }}
              <label class="custom-control-label mr-4" for="{{ s.id_for_label }}">{{ s.choice_label }}</label>
            </div>
          {% endfor %}
        </div>
        <div class="col-md-6 my-1">
          <h6 class="mr-4">{{ form.service.label }}</h6>
          {% for s in form.service %}
            <div class="custom-control custom-checkbox">
              {{ s.tag }} 
              <label class="custom-control-label mr-4" for="{{ s.id_for_label }}">{{ s.choice_label }}</label>
            </div>
          {% endfor %}
        </div>
        <div class="col-6 ">
          <label>{{ form.openDate.label }}</label> {{ form.openDate }}
        </div>
        <div class="col-12 d-flex flex-row justify-content-end">
          <a href="{% url 'create' %}" class="btn btn-primary mr-4" role="button">新規作成</a>
          <button class="btn btn-primary" type="submit">検索</button>
        </div>
      </div>
    </div>
  </form>
  <div class="container mt-4">
    {% if is_paginated %}
    <nav aria-label="...">
      <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'list' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
      {% endif %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a>
        </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'list' %}?page={{ page_obj.next_page_number }}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Next</a>
        </li>
      {% endif %}
      </ul>
    </nav>
    {% endif %}
    <table class="table table-bordered table-hover table-striped tablesorter">
      <thead>
        <tr> 
          <th>操作</th>
          <th>ホテル名</th>
          <th>ランク</th>
          <th>食事</th>
          <th>サービス</th>
        </tr>
      </thead>
      <tbody>
      {% if hotelList %}
      {% for hotel in hotelList %}
        <tr>
          <td width="200">
            <a href="{% url 'detail' hotel.id %}" class="btn btn-secondary btn-sm mr-1" role="button">参照</a>
            <a href="{% url 'update' hotel.id %}" class="btn btn-primary btn-sm mr-1" role="button">更新</a>
            <a href="{% url 'delete' hotel.id %}" class="btn btn-danger btn-sm mr-1" role="button">削除</a>
          </td>
          <td>{{ hotel.name }}</td>
          <td>{{ hotel.stars }}</td>
          <td>{{ hotel.meal }}</td>
          <td>{{ hotel.service }}</td>
        </tr>
      {% endfor %}
      {% endif %}
      </tbody>
    </table>
  </div>
{% endblock %}